
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 170%;
	}

.contenedor {

	width: 90%;
	max-width: 790px;
	height: auto;
	margin: 0 auto;
	padding-top: 72px;
	padding-bottom: 50px;
	overflow: hidden;

	/* Flex */

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;



}

.header {

	/* Flex */
	display: flex;
	align-items: center;
	flex-direction: row;
}



.Fecha {
	font-family: 'Inter', sans-serif;
	font-weight: normal;
	line-height: 140%;
	font-size: 14px;
	display: inline-block;
	margin: 20px 0 0 7px;
}

.Fecha b {
	font-weight: 700;
}

.logo img {
	width: 80px;
  	height: 80px;
  	object-fit: cover;
  	vertical-align: top;
  	
}


/* INTRODUCCIÓN */

.intro { width: 100%;}
h1 {
	font-family: 'Inter',sans-serif;
	font-weight: 400;
	font-size: 34px;
	line-height: 140%;
	color: #7D7D7D;
	margin: 75px 0 96px 0px;

}

hr {
	border-color: #E4E4E4;
	opacity: 40%;
	margin-top: 5px;
	height: 1px;
	width: 150px;
}

h2  {
	font-family: 'Inter',sans-serif;
	font-weight: 400;
	line-height: 140%;
	color: black;
	font-size: 27px;
	margin-bottom: 60px;
}


/* Cronograma */


/* TABLA */
table {
	width: 100%;
	margin: 12px 0 140px 0;
	text-align: left;
	border-collapse: collapse;

}

th,td {
	font-family: 'Inter',sans-serif;
	font-weight: 400;
}

/* Encabezados: "Desde las" y "Días"+"Jueves 25" ej*/

thead {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	line-height: 100%;
}

th {
	font-size: 12px;
	padding: 40px 25px;
}

.hhr {
	margin-bottom: 40px;
}

.desde-las {
	padding: 0 50px 0px 15px;
}

.dia, .dia-s, .dia-d {font-weight: 400; margin-left: 4px; font-size: 14px;margin-bottom:5px;}

.dia-s {
	margin-left: 2px;
}

.dia-d { margin-left: 1px;}
th span {
	font-weight: 700;
	font-size: 18px;
}

/* Fin de Encabezado // Comienzo Actividades */

.pr {margin-top: 60px;}

tbody .l {
padding-left: 25px;
}

td {
font-size: 14px;
padding: 25px 0 40px 15px;

} 

/*Circulos */
/*Grande <span class="cG"></span>*/
.cG {
	width: 15px;
	height: 15px;
	left: -8px;
	bottom: 50%;

}

/*Circulo Chico <span></span>*/
td span {
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #F29109;
	position: absolute;
	left: -6px;
	bottom: 50%;

}

.circulo-final {
	position: absolute;
	bottom: 0;
}



/**/

/*linea naranja*/
.l {
	border-left: 2px solid #F29109;
	position: relative;
}


/*ESTILO TEXTO COLUMNAS DE ACTIVIDADES */
/* Texto Nivel 1 */
.t1 {
	font: 700 18px/160% 'Merriweather', serif;
}

/*Texto Nivel 2*/
.t2 {
	font: 500 15px 'Inter', sans-serif;
}

/*Texto Nivel 3*/
.t3 {
	font: 400 15px/150% 'Inter', sans-serif;
}

/*Variante Inter Ligth*/

.t4 {
	font: 300 15px 'Inter', sans-serif;
}

.p {
	padding-top: 15px;
}


/*footer*/

a {
	text-decoration: none;
	color: #F29109;
	padding: 4px 0 0 0;
}

h3, h4 {
	padding: 10px 0;
}
 .t5 {
	 font-size: 14px;
	 font-weight: 300;
 }

/* Queries */

@media screen and (max-width: 575.98px) { 

	
	body .header, .informe p {
		margin: 8px; 
		font-size: 20px;
		line-height: 185%;
	} 

	.intro p {

		font-size: 19px;
		line-height: 175%;
	}




 }



/* Cambia la fuenta de los titulares en dispositivios mobiles */
@media screen and (min-width: 320px) and (max-width: 991.98px) {

.logo img {
	width: 150px;
	height: 154px;

}


.Fecha {
	font-size: 18px;
	margin: 40px 0 0 14px;
}

h1 {
	font-size: 27px;
}

}